<html>
<head>
</head>
<body>
<form action="processPostAnswer" method="POST">
    <label >question_id: </label>
    <input type="text" name="question_id"  required>
    <br>
    <label>answer: </label>
    <input type="text" name="answer"  required>
    <br>
    <label>answer_value: </label>
    <input type="text" name="answer_value"  required>
    <br>
    <label>result_id: </label>
    <input type="text" name="result_id"  required>
    <br>
    <input type="submit" value="Login!">
</form>
</body>
</html>